extends layout

block layout-content
    div.View
        h1.Banner TEST
        div.Message
            div.Title
                h3 This is a test
                h1 This is another test
            span.Details idk where this goes
        div.NavButtons
            a(href="/user")
                div.NavButton button